ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 40%;
  margin-top: 5px;
  padding: 10px;

  border-radius: 5px;
  background-color: white;
}

ul li {
  list-style: none;
  font-weight: 700;
  border-bottom: 1px solid rgb(158, 158, 158);
  border-radius: 5px;

  padding: 5px 15px;
  margin-top: 10px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li span {
  color: #010101dd;
  cursor: pointer;
  width: 75%;
}

.checked {
  color: #b2bec3;
  text-decoration: line-through;
}
